* {
    margin: 0;
}


.container {
    display: grid;

    /* DYNAMICALLY CHANGE BELOW: */

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr
    );

    /* ############## */

    justify-content: center;
    gap: 5px;

    margin: auto;
    width: 55vw;
    height: 700px;

}
.box {
    width: 100%;
    border: 1px solid gray;
    transition: .1s ease-in-out ;
}

.default {
    background-color: white;
}

.hover{
    background-color: aqua;
    cursor: pointer;
}